Name: Mandava Nidhish
Reg.No: 21BCE5840

In [5]:
import pandas as pd
import numpy as np

In [7]:
a={'Name':['Nidhish','Aasrith','Abhinash','Hari','Bharath','Charan','Surya','Hanuma','Hrishi','Shobith'],
   'RegNo':['21BCE5840','21BCE5841','21BCE5842','21BCE5843','21BCE5844','21BCE5845','21BCE5846','21BCE5847','21BCE5848','21BCE5849'],
   'GPA':[8,9,7,6,np.nan,4,3,2,1,0],
   'CGPA':[1,2,3,4,5,6,7,8,9,0],
   'Phonenum':['8977610021','8977610022','8977610023','8977610024','8977610025','8977610026','8977610027','8977610028','8977610012','8977610013']}
a

{'Name': ['Nidhish',
  'Aasrith',
  'Abhinash',
  'Hari',
  'Bharath',
  'Charan',
  'Surya',
  'Hanuma',
  'Hrishi',
  'Shobith'],
 'RegNo': ['21BCE5840',
  '21BCE5841',
  '21BCE5842',
  '21BCE5843',
  '21BCE5844',
  '21BCE5845',
  '21BCE5846',
  '21BCE5847',
  '21BCE5848',
  '21BCE5849'],
 'GPA': [8, 9, 7, 6, nan, 4, 3, 2, 1, 0],
 'CGPA': [1, 2, 3, 4, 5, 6, 7, 8, 9, 0],
 'Phonenum': ['8977610021',
  '8977610022',
  '8977610023',
  '8977610024',
  '8977610025',
  '8977610026',
  '8977610027',
  '8977610028',
  '8977610012',
  '8977610013']}

Task - 1 Create a pandas dataframe (DataFrame name as 'df') (10 observation and 5 features)

In [9]:
df=pd.DataFrame(a)
df

       Name      RegNo  GPA  CGPA    Phonenum
0   Nidhish  21BCE5840  8.0     1  8977610021
1   Aasrith  21BCE5841  9.0     2  8977610022
2  Abhinash  21BCE5842  7.0     3  8977610023
3      Hari  21BCE5843  6.0     4  8977610024
4   Bharath  21BCE5844  NaN     5  8977610025
5    Charan  21BCE5845  4.0     6  8977610026
6     Surya  21BCE5846  3.0     7  8977610027
7    Hanuma  21BCE5847  2.0     8  8977610028
8    Hrishi  21BCE5848  1.0     9  8977610012
9   Shobith  21BCE5849  0.0     0  8977610013

Task- 2 Check the info of 'df'

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Name      10 non-null     object
 1   RegNo     10 non-null     object
 2   GPA       9 non-null      float64
 3   CGPA      10 non-null     int64
 4   Phonenum  10 non-null     object
dtypes: float64(1), int64(1), object(3)
memory usage: 528.0+ bytes

Task 3- Check the descriptive statistics of 'df'

In [11]:
df.describe()

            GPA      CGPA
count  9.000000  10.00000
mean   4.444444   4.50000
std    3.205897   3.02765
min    0.000000   0.00000
25%    2.000000   2.25000
50%    4.000000   4.50000
75%    7.000000   6.75000
max    9.000000   9.00000

Task 4- check the 4th index observation with 'loc' slicing operator.

In [12]:
df.loc[4]

Name           Bharath
RegNo        21BCE5844
GPA                NaN
CGPA                 5
Phonenum    8977610025
Name: 4, dtype: object

Task 5 - Check the null values in your 'df'

In [13]:
df.isnull().sum()

Name        0
RegNo       0
GPA         1
CGPA        0
Phonenum    0
dtype: int64